@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=PT+Serif);

body {
  text-align: center;
  padding-top: 50px;
}

body h1 {
  font-size: 18px;
}

.container-container {
  background-color: #F3F4F5;/*#EDF0F5;*/
}

/*.horizon {
  font-family: sans-serif;
}*/

.hz-promo {
}

.hz-promo img {
  width: 70%;
  margin: 20px 0;
  display: inline;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ddd;
  /*background-color: #2F353D;*/
}

/* contacts */

.contacts h5 {
  font-weight: 600;
}

.hztitle {
  font-family: Georgia, serif;
  text-align: left;
  margin-bottom: 20px;
}

.hzaddress {
  text-align: left;
}

/* footer */
.footer {
  border-top: 0;
  text-align: center;
  color: #888;
  /*margin: 40px 0;*/
}

.bs-footer {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 100px;
  color: #777;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
.footer-links {
  margin: 5px 0;
  padding-left: 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}

/* all */
.horizon h1 {
  margin: 40px 0 20px 0;
  font-size: 22px;
  text-align: left;
  font-family: Helvetica, sans-serif
}


