/* Space out content a bit */

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  /*padding-top: 19px;*/
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 960px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: transparent;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
    margin-bottom: 0;
  }
}





/* Custom */

@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}
/*@media screen and (max-width: 650px) {
  .jumbotron img {
    width: 200px;
  }
}*/

a.dotted {
    text-decoration:none;
    color: #555;
    border-bottom: 1px dashed #999;
    font-weight: normal;
}

a.dotted:hover, visited, link, active {
    text-decoration:none;
    color: #222;
}

/*.tels h5 {
}*/

/* header */

.hz-topbar {
  /*vertical-align: middle;*/
  /*display: inline;*/
  /*display: table;*/
  /*line-height: 100px;*/
}

@media (max-width: 768px) {
  .hz-topbar {
    text-align: center;
  }
}

.hz-logo {
  /*display: inline;*/
  /*background-color: red;*/
}

.hz-nav ul {
  margin-top: 30px;
  font-size: 16px;
}

.hz-nav li a {
  color: #444;
  padding: 12px;
  margin-left: 2px;
  margin-right: 2px;
  line-height: 16px;
  /*background-color: white;*/
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  -ms-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
  transition: background 0.1s linear;
}

.hz-nav li a:hover {
  /*color: green;*/
 /* border-bottom: 3px solid #999;
  border-bottom-color: orange;*/
  /*background-color: white;*/
}
/*.hzmenu li a .active {
  border-bottom: 3px solid #999;
  border-bottom-color: green;
  background-color: white;
}*/

.mails {
  text-align: left;
}

.tels {
  text-align: right;
}

.tels p {
  font-weight: normal;
  margin: 5px 0;
  line-height: 15px;
}

@media (max-width: 768px) {
  .mails, .tels {
    text-align: center;
  }
}


@media (min-width: 768px) {
  .bs-footer {
    text-align: left;
  }
  .bs-footer p {
    margin-bottom: 0;
  }
}

.skills h3 {
  font-family: Georgia, serif;
  font-weight: lighter;
  font-size: 20px;
}

.skills .row p {
  font-weight: normal;
  font-size: 14px;
}

/* about */

.hz-about ul
{
  list-style-type: none;
  padding: 0;
  /*text-align: center;*/
  /*display: inline-block;*/
}

.hz-about li {
  margin: 10px;
  padding: 6px;
  /*float: left;*/
}

/*http://hashcode.ru/questions/268724/html-%D0%BA%D0%B0%D0%BA-%D1%81%D0%BE%D1%85%D1%80%D0%B0%D0%BD%D0%B8%D1%82%D1%8C-%D1%8D%D1%84%D1%84%D0%B5%D0%BA%D1%82-hover-%D0%BF%D1%80%D0%B8-%D0%BD%D0%B0%D1%85%D0%BE%D0%B6%D0%B4%D0%B5%D0%BD%D0%B8%D0%B8-%D0%BA%D1%83%D1%80%D1%81%D0%BE%D1%80%D0%B0-%D0%BD%D0%B0-%D1%81%D0%BB%D0%B5%D0%B4%D1%83%D1%8E%D1%89%D0%B5%D0%BC-%D1%83%D1%80%D0%BE%D0%B2%D0%BD%D0%B5-%D0%BC%D0%B5%D0%BD%D1%8E*/
.hz-about ul > li:hover {
  background-color: #adf;
   /*border:1px solid red;*/
}

.hz-about .active  {
  /*margin: 20px;*/
  font-weight: bolder;
  background-color: #eee;
  /*float: left;*/
}

.hz-about a {
  color: #333;
}

.hz-about a:hover {
  text-decoration: none;
}

.hz-about h3 {
  text-align: left;
}

.container .row .nav {
  margin-top: 30px;
}

.hzcol {
  margin-top: 30px;
  /*column-count:2;
  column-gap: 40px;
  -moz-column-count:2;
  -moz-column-gap: 40px;
  -webkit-column-count:2; 
  -webkit-column-gap: 40px;*/
}

/* team */
.team .thumbnail {
  text-align: center;
  border: 0;
}
/*
.container h2, h3 {
  font-family: Georgia, serif;
  text-align: center;
  padding: 20px;
}*/


/*@media (min-width: 480px) {
  .maps ymaps {
    height: 100px;
  }
}*/

/* partners */

.hzpartners {
  /*background-color: red;*/
  width: 100%;
  /*height: 160px;*/
  line-height: 160px;
  text-align: center;
}

/* http://www.vanseodesign.com/css/vertical-centering/ */
/* http://www.w3.org/Style/Examples/007/center */
/* http://stackoverflow.com/questions/13485682/how-to-vertically-and-horizontally-align-image-in-div */
.hzpartners img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

/* http://stackoverflow.com/questions/286275/gray-out-image-with-css */


/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
  position: static;
}

/* First level of nav */
.bs-sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f7f5fa;
  border-radius: 5px;
}

/* side bar */
/* All levels of nav */
.bs-sidebar .nav > li > a {
  display: block;
  color: #716b7a;
  padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
  border-right: 1px solid #dbd8e0;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
  border-right: 1px solid #563d7c;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
  .bs-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .bs-sidebar.affix,
  .bs-sidebar.affix-bottom {
    width: 213px;
  }
  .bs-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 80px;
  }
  .bs-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .bs-sidebar.affix-bottom .bs-sidenav,
  .bs-sidebar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .bs-sidebar.affix-bottom,
  .bs-sidebar.affix {
    width: 263px;
  }
}


.lead {
  margin-bottom: 0;
  font-size: 24px;
}

/* projects */

.hz-projects .row {
  margin-bottom: 20px;
}

.hz-project {
  /*background-color: #eee;*/
  text-align: center;
  border: 1px;
  margin-bottom: 20px;
  /*height: 220px;*/
  /*margin: 30px 0;*/
  /*display: block;*/
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.hz-project-year {
  text-align: right;
  margin-bottom: 0;
}

.hz-project-logo {
  /*margin: 12px 10px;*/
  margin: 0 auto;
}

.logo-container {
  /*height: 80px;*/
  line-height: 90px;
  text-align: center;
  vertical-align: middle;
}

/* http://stackoverflow.com/questions/15104250/how-do-i-vertically-center-align-div-with-dynamic-multiple-line-text */
.hz-project-title {
  font-size: 16px;
  background-color: #eee;
  /*display: inline-block;*/
  /*border: 1px solid red;*/
  /*position:relative;*/
  height: 50px;
  width: 100%;
  display: table;
}

.hz-project-title span {
  display:inline-block;
  vertical-align:middle;
  display: table-cell;
  font-weight: 500;
}

.hz-project-budget {
  font-size: 18px;
  font-family: Georgia, serif;
  margin: 10px 0;
  /*background-color: yellow;*/
  color: rgb(221, 88, 0);
}

.hz-project-desc {
  display:block;
  vertical-align:middle;
  padding: 0 6px;
  font-size: 12px;
}

.about ul {
    padding: 0;
    /*list-style-type: none;*/
}

/* sitemap */
.sitemap {
  text-align: left;
}
